In [1]:
import numpy as np
import pandas as pd

In [2]:
d=pd.read_csv(r"bike_data.csv")

In [3]:
d.head()

,date,season,hour,holiday,day_of_the_week,working_day,weather_type,temperature_f,temperature_feels_f,humidity,wind_speed,casual_users,registered_users,total_users
0,2011-01-01,4,0,False,6,False,1,36.6,37.4,81,0,3,13,16
1,2011-01-01,4,1,False,6,False,1,34.9,35.6,80,0,8,32,40
2,2011-01-01,4,2,False,6,False,1,34.9,35.6,80,0,5,27,32
3,2011-01-01,4,3,False,6,False,1,36.6,37.4,75,0,3,10,13
4,2011-01-01,4,4,False,6,False,1,36.6,37.4,75,0,0,1,1

In [4]:
d.isnull().sum()

date                   0
season                 0
hour                   0
holiday                0
day_of_the_week        0
working_day            0
weather_type           0
temperature_f          0
temperature_feels_f    0
humidity               0
wind_speed             0
casual_users           0
registered_users       0
total_users            0
dtype: int64

In [5]:
x = d.iloc[:,2:14].values
y = d.iloc[:,1].values

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("oh",OneHotEncoder(),[3])],remainder = "passthrough")
x = ct.fit_transform(x)

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state =10000000)

In [18]:
from sklearn.linear_model import LinearRegression
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [19]:
ypred =  mlr.predict(x_test)

In [20]:
from sklearn.metrics import r2_score
accuracy = r2_score(ypred,y_test)

In [21]:
accuracy

-2.110161834755154