In [1]:
import pandas as pd
import numpy as np

In [2]:
d=pd.read_csv("titanic.csv")

In [3]:
d.head()

,Survived,Name,Sex,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Pclass,Age
0,0,Mr. Owen Harris Braund,male,1,0,7.2500,3,22.0
1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,1,0,71.2833,1,38.0
2,1,Miss. Laina Heikkinen,female,0,0,7.9250,3,26.0
3,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,1,0,53.1000,1,35.0
4,0,Mr. William Henry Allen,male,0,0,8.0500,3,35.0

In [6]:
d.isnull().any()

Survived                   False
Name                       False
Sex                        False
Siblings/Spouses Aboard    False
Parents/Children Aboard    False
Fare                       False
Pclass                     False
Age                        False
dtype: bool

In [7]:
x=d.iloc[:,2:8].values
y=d.iloc[:,0:1].values

In [12]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("oh", OneHotEncoder(),[0])],remainder = "passthrough") # conerts data to binary format
x = ct.fit_transform(x)

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test  = train_test_split(x,y , test_size = 0.2 , random_state = 0)

In [17]:
from sklearn.preprocessing import StandardScaler
sc =StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [19]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [20]:
ann=Sequential()

In [21]:
ann.add(Dense(7,kernel_initializer = "random_uniform", activation ="relu"))

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\keras\initializers.py:119: calling RandomUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [22]:
ann.add(Dense(14,kernel_initializer = "random_uniform", activation ="relu"))

In [23]:
ann.add(Dense(1,kernel_initializer = "random_uniform", activation ="sigmoid"))

In [24]:
ann.compile("adam","binary_crossentropy",metrics=["accuracy"])

In [25]:
ann.fit(x_train,y_train,batch_size=32,epochs=40)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/40
709/709 [==============================] - 0s 299us/sample - loss: 0.6916 - acc: 0.6037
Epoch 2/40
709/709 [==============================] - 0s 32us/sample - loss: 0.6860 - acc: 0.6037
Epoch 3/40
709/709 [==============================] - 0s 36us/sample - loss: 0.6697 - acc: 0.6037
Epoch 4/40
709/709 [==============================] - 0s 41us/sample - loss: 0.6342 - acc: 0.6037
Epoch 5/40
709/709 [==============================] - 0s 38us/sample - loss: 0.5852 - acc: 0.6671
Epoch 6/40
709/709 [==============================] - 0s 41us/sample - loss: 0.5471 - acc: 0.7814
Epoch 7/40
709/709 [==============================] - 0s 35us/sample - loss: 0.5280 - acc: 0.8082
Epoch 8/40
709/709 [==============================] - 0s 39us/sample - loss: 0.5181 - acc: 0.8039
Epoch 9/40
709/709 [==============================] - 0s 37us/sample - loss: 0.5087 - acc: 0.8011
Epoch 10/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4983 - acc: 0.8025
Epoch 11/40
709/709 [==============================] - 0s 35us/sample - loss: 0.4892 - acc: 0.7983
Epoch 12/40
709/709 [==============================] - 0s 38us/sample - loss: 0.4801 - acc: 0.7983
Epoch 13/40
709/709 [==============================] - 0s 38us/sample - loss: 0.4719 - acc: 0.7955
Epoch 14/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4651 - acc: 0.7969
Epoch 15/40
709/709 [==============================] - 0s 43us/sample - loss: 0.4583 - acc: 0.8025
Epoch 16/40
709/709 [==============================] - 0s 31us/sample - loss: 0.4516 - acc: 0.8054
Epoch 17/40
709/709 [==============================] - 0s 38us/sample - loss: 0.4465 - acc: 0.8054
Epoch 18/40
709/709 [==============================] - 0s 33us/sample - loss: 0.4420 - acc: 0.8054
Epoch 19/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4383 - acc: 0.8039
Epoch 20/40
709/709 [==============================] - 0s 37us/sample - loss: 0.4349 - acc: 0.8054
Epoch 21/40
709/709 [==============================] - 0s 37us/sample - loss: 0.4327 - acc: 0.8068
Epoch 22/40
709/709 [==============================] - 0s 34us/sample - loss: 0.4305 - acc: 0.8096
Epoch 23/40
709/709 [==============================] - 0s 41us/sample - loss: 0.4287 - acc: 0.8096
Epoch 24/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4272 - acc: 0.8124
Epoch 25/40
709/709 [==============================] - 0s 34us/sample - loss: 0.4258 - acc: 0.8124
Epoch 26/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4243 - acc: 0.8152
Epoch 27/40
709/709 [==============================] - 0s 40us/sample - loss: 0.4225 - acc: 0.8166
Epoch 28/40
709/709 [==============================] - 0s 38us/sample - loss: 0.4221 - acc: 0.8166
Epoch 29/40
709/709 [==============================] - 0s 44us/sample - loss: 0.4212 - acc: 0.8181
Epoch 30/40
709/709 [==============================] - 0s 35us/sample - loss: 0.4197 - acc: 0.8223
Epoch 31/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4240 - acc: 0.8195
Epoch 32/40
709/709 [==============================] - 0s 44us/sample - loss: 0.4174 - acc: 0.8223
Epoch 33/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4180 - acc: 0.8209
Epoch 34/40
709/709 [==============================] - 0s 35us/sample - loss: 0.4172 - acc: 0.8237
Epoch 35/40
709/709 [==============================] - 0s 40us/sample - loss: 0.4165 - acc: 0.8209
Epoch 36/40
709/709 [==============================] - 0s 39us/sample - loss: 0.4167 - acc: 0.8223
Epoch 37/40
709/709 [==============================] - 0s 35us/sample - loss: 0.4158 - acc: 0.8209
Epoch 38/40
709/709 [==============================] - 0s 38us/sample - loss: 0.4166 - acc: 0.8237
Epoch 39/40
709/709 [==============================] - 0s 41us/sample - loss: 0.4147 - acc: 0.8209
Epoch 40/40
709/709 [==============================] - 0s 45us/sample - loss: 0.4148 - acc: 0.8195

In [26]:
ypred=ann.predict(x_test)

In [30]:
d.head(1)

,Survived,Name,Sex,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Pclass,Age
0,0,Mr. Owen Harris Braund,male,1,0,7.25,3,22.0

In [31]:
yp=ann.predict(sc.transform(ct.transform([["male",1,0,7.25,3,22]])))

In [32]:
yp

array([[0.11278737]], dtype=float32)

In [33]:
yp>0.5

array([[False]])

In [34]:
d.head()

,Survived,Name,Sex,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Pclass,Age
0,0,Mr. Owen Harris Braund,male,1,0,7.2500,3,22.0
1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,1,0,71.2833,1,38.0
2,1,Miss. Laina Heikkinen,female,0,0,7.9250,3,26.0
3,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,1,0,53.1000,1,35.0
4,0,Mr. William Henry Allen,male,0,0,8.0500,3,35.0

In [35]:
yp=ann.predict(sc.transform(ct.transform([["female",1,0,71.2833,1,38]])))

In [36]:
yp

array([[0.96325874]], dtype=float32)

In [37]:
yp>0.5

array([[ True]])